@import '~bootstrap/dist/css/bootstrap.min.css';

.aNavB:hover{
  color:  #FF2651 !important;
  padding: 1rem;
  border: solid   #FF2651 2px !important;
  background-color: #00D9DA ;
  font-weight: bold;
}

.fakeInfo{
  background-color: #00D9DA;
}

.fakeWarning{
  background-color: #f7f7f7;
}

.aNavB:active {
  color: #FFE700 !important;
  padding: 1rem;
  border: solid #FFE700 2px !important;
  background-color: #00D9DA ;
  font-weight: bold;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
